<section class="py-4 text-center text-lg-left">
  <h2 *ngIf="searchedInstructions !== null" class="h1 font-weight-bold text-center mb-4 pt-4" translate>Search results</h2>
  <h2 *ngIf="searchedInstructions === null" class="h1 font-weight-bold text-center mb-4 pt-4" translate>Recent instructions</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-8 p-0">
        <h3 *ngIf="filterCategories.length !== 0" translate>Filter categories</h3>
        <ul class="d-flex flex-wrap align-content-start p-0">
          <li class="p-1 badge badge-primary rounded d-flex m-1" *ngFor="let category of filterCategories">
            <span class="my-auto pointer">{{category.name}}</span>
            <i class="close fa fa-times my-auto mx-1" (click)="removeFilterCategory(category)"></i>
          </li>
        </ul>
        <h3 *ngIf="filterSteps.length !== 0" translate>Filter steps</h3>
        <ul class="d-flex p-0 flex-wrap align-content-start">
          <li class="p-1 bg-light rounded d-flex m-1" *ngFor="let step of filterSteps">
            <span class="text-dark pointer">{{step.name}}</span>
            <i class="close fa fa-times my-auto mx-1" (click)="removeFilterStep(step)"></i>
          </li>
        </ul>
      </div>
      <div class="mb-5 ml-1">
        <h3 translate>{{"Instructions rating range:" | translate}} {{rangeValues[0] + ' - ' + rangeValues[1]}}</h3>
        <p-slider [(ngModel)]="rangeValues" (onChange)="filterInstructions()" [style]="{'width':'200px'}" [range]="true" [min]="0" [max]="5"></p-slider>
      </div>
      <div *ngIf="viewInstructions.length !== 0">
        <div  *ngFor="let instruction of viewInstructions">
          <div class="row">
            <div class="col-lg-5 col-xl-5 pb-3">
              <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src={{instruction.userImage}} alt="Sample image for first version of blog listing"
                     class="img-fluid img-size w-100 h-100">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-7 col-xl-7">
              <ul class="d-flex flex-wrap align-content-start tags-pos p-0">
                <li class="p-1 bg-light rounded d-flex m-1" *ngFor="let category of instruction.categories">
                  <span class="badge badge-primary pointer">{{category.name}}</span>
                </li>
              </ul>
              <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>{{instruction.name}}</strong>
              </h3>
              <p><markdown>{{instruction.description}}</markdown></p>
              <p translate>by
                <a>
                  <strong>{{instruction.authorName}}</strong>
                </a>, {{instruction.publishDate | date}}</p>
              <app-rating [username]="instruction.authorName" [read]="true" [idInstruction]="instruction.id"></app-rating>
              <a class="btn btn-md mb-3 waves-light" routerLink="/news/{{instruction.id}}" mdbWavesEffect translate>Read more</a>
              <ul class="d-flex flex-wrap align-content-start tags-pos p-0">
                <li class="p-1 bg-light rounded d-flex m-1" *ngFor="let step of instruction.steps">
                  <span class="text-dark pointer">{{step.name}}</span>
                </li>
              </ul>
            </div>
          </div>
          <hr class="mb-5 mt-5 pb-3">
        </div>
      </div>
      <div *ngIf="viewInstructions.length === 0">
        <h2 class="text-center" translate>No matching instructions found</h2>
      </div>
    </div>
    <div class="col-md-4">
      <h3 *ngIf="categories.length !== 0" translate>Categories</h3>
      <ul class="d-flex flex-wrap align-content-start p-0">
        <li class="p-1 bg-light rounded d-flex m-1" *ngFor="let category of categories">
          <span class="badge badge-primary pointer" (click)="pasteFilterCategory(category)">{{category.name}}</span>
        </li>
      </ul>
      <h3 *ngIf="steps.length !== 0" translate>Steps</h3>
      <ul class="d-flex p-0 flex-wrap align-content-start">
        <li class="p-1 bg-light rounded d-flex m-1" *ngFor="let step of steps">
          <span class="text-dark pointer" (click)="pasteFilterStep(step)">{{step.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
